<a href="https://colab.research.google.com/github/Atimangojackline/Atimangojackline/blob/main/Tax_amount.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
gross_salary = float(input("Enter Gross Salary: "))
hra = float(input("Enter HRA: "))
insurance = float(input("Enter Insurance: "))

Enter Gross Salary: 300000
Enter HRA: 15000
Enter Insurance: 5000

In [2]:
basic_salary = min(gross_salary - hra, gross_salary - insurance)

In [3]:
non_exempt_amount = max(basic_salary - 0.1 * basic_salary, 0)
taxable_amount = max(non_exempt_amount - 250000, 0)

In [4]:
if taxable_amount == 0:
    tax_amount = 0
else:
    tax_amount = taxable_amount * 0.1

In [5]:
print("Tax Amount: Rs.", tax_amount)

Tax Amount: Rs. 650.0