<a href="https://colab.research.google.com/github/Atimangojackline/Atimangojackline/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [8]:
x=10
while x>1:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2

In [11]:
x=0
a=0
while x<10:
  a=a+x
  x=x+1
  print(a)

0
1
3
6
10
15
21
28
36
45

In [15]:
a=10
i=1
while a<=10:
  a=a*i
  i=i+1
  print(i)

2
3

In [19]:
num=int(input('enter factorial'))
fac=1
i=1
while i<num:
  fac=fac*i
  i=i+1
  print(i)

enter factorial3
2
3

In [20]:
x=1
a=1
while x<10:
  a=a*x
  x=x+1
  print(a)

1
2
6
24
120
720
5040
40320
362880

In [22]:
x=0
while x<10:
  x=x+1
  if x==5:
    continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [23]:
x=0
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [26]:
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [27]:
sum=0
for n in range(100):
  sum=sum+n

In [28]:
print(sum)

4950

In [32]:
num=int(input('enter factorial number'))
a=1
for i in range(1,num):
  a=a*i
  print(a)

enter factorial number10
1
2
6
24
120
720
5040
40320
362880

In [33]:
for x in range (100):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [36]:
for x in range(100):
  if x==50:
    continue;
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [37]:
x="Atimango Jackline"
for a in x:
  print(a)

A
t
i
m
a
n
g
o

J
a
c
k
l
i
n
e

In [47]:
x="Atimango Jackline"
for a in x:
  if a==" ":
    break;
print(a)